.base {
  background: #2a2d37;
  margin-top: 5vh;
  border: 3px solid black;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.expressions {
  background: #22252d;
  color: white;
  padding: 5%;
  font-size: 2em;
  text-align: right;
  overflow: auto;
}

.evalExpression {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  overflow: auto;
}

.keypad {
  width: 100%;
  align-self: center;
}

.table {
  width: 100%;
}

.keys {
  margin: 0;
  background: white;
  color: grey;
  padding: 1em;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  opacity: 0.9;
}

.keys:hover {
  opacity: 1;
}

.clrkey {
  color: #37d8bf;
  background-color: #282b33;
}

.optkey {
  color: #db676b;
  background-color: #282b33;
}

.numkey {
  color: white;
  background: #282b33;
}
